body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    min-width: 635px;
}

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a:hover {
    text-decoration: none;
}

input {
    font-family: Arial;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    float: none !important;
}

#footer {
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
}

h3 {
    height: 21px;
    position: relative;
    padding: 4px 0px 0px 25px;
    font-size: 12px;
}

.submenu {
    position: absolute;
    top: 0px;
    left: 0px;
}

.submenu {
    width: 90%;
}

.submenu li {
    float: left;
    list-style: none;
    padding: 3px 7px;
    text-align: center;
    cursor: pointer;
}

.submenu li a {
    text-decoration: none;
    color: inherit
}

div.contentwrapper {
    height: 290px;
    position: relative;
    padding-top: 21px;
    overflow-y: auto;
}

/******** list.php *********/
#listContainer {
    margin: 10px 0 0 0;
}

#leftColumn {
    text-align: right;
    padding: 0px 10px;
    width: 160px;
}

.searchEdit {
    width: 140px !important;
}

#rightColumn {
    overflow-x: auto;
    height: 270px;
    display: block;
}

.mb10 {
    margin-bottom: 10px;
}

#icons > div {
    float: left;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 80px;
}

#icons div img {
    margin-bottom: 4px;
    width: 65px;
    height: 65px;
}

#icons > div a {
    white-space: nowrap;
}

#letters {
    margin: 10px;
}

#letters a {
    font-size: 14px;
}

.children > div {
    float: left;
    width: 90px;
    margin: 0px 4px 5px 0px;
    text-align: center;
}

.children a {
    white-space: nowrap;
}

.verticalList {
    float: left;
}

.verticalList li {
    float: none !important;
}

.verticalList li a {
    text-decoration: none;
    color: inherit;
}

.list li {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    list-style: none;
    padding: 3px 7px;
    text-align: center;
    cursor: pointer;
}

.list ul {
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-left-width: 0px;
    border-style: solid;
}

/*list countries*/
.listCountries {
    width: 500px;
    margin: 10px 10px;
}

.listCountries a.country {
    display: block;
    width: 120px;
    height: 22px;
    float: left;
    margin: 2px;
    padding: 6px 3px 0px 3px;
    text-align: center;
}

#letters {
    margin-bottom: 7px;
}

#letters a {
    font-size: 14px;
}

/*form*/
.pstable {
    width: 95%;
    margin-left: 10px;
}

.pstable td {
    vertical-align: top;
}

.pstable td.fieldinvite {
    font-weight: bold;
    text-align: center;
}

.pstable td.fieldname {
    width: 120px;
    text-align: right;
    padding: 15px 0px 0px 0px;
    white-space: nowrap;
}

.pstable input.error {
    border: 1px solid red;
}

.pstable td.fieldstatus {
    width: 10%;
    text-align: center;
}

.button {
    vertical-align: middle;
    cursor: pointer
}

.text {
    font-size: 10px !important;
    width: 90%;
}

.pstable .fieldinput {
    padding: 12px 0px 0px 20px;
}

.pstable .fieldinput input {
    max-width: 250px
}

.pstable .label {
    margin-top: 10px;
    padding: 3px 5px;
    font-style: italic;
    font-size: 13px;
}

#info {
    border: 2px #c2c1c1 dashed;
    padding: 10px;
    line-height: 1.4em;
    width: 500px;
    margin: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#info > p {
    margin: 0px;
}

#notes {
    border: 2px #c2c1c1 dashed;
    padding: 10px;
    line-height: 1.4em;
    width: 500px;
    margin: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.block {
    min-height: 22px;
    padding: 10px 5px 10px 65px;
}

.errorBlock {
    height: 27px;
    padding: 14px 5px 10px 80px;
    font-size: 14px;
    background: url('http://img.legendbattles.ru/images/atention.png') 10px center no-repeat #e8e7e8;
}

.paynum {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 5px 5px 5px;
    font-size: 20px;
}

table.sms {
    width: 100%;
    margin-top: 10px;
}

/*LANDING TABLE*/
table.sms td {
    padding: 2px 5px;
}

table.sms th {
    padding: 4px;
    color: #FFFFFF;
}

table.sms tr.noview, table.sms tr.pagenoview {
    display: none;
}

.smsnavigate {
    margin: 5px 0px 10px 0px;
}

.smsnavigate p, .smsnavigate div {
    float: left;
    padding: 3px 5px;
    margin: 0px 2px;
}

.smsnavigate div {
    cursor: pointer;
}

.smsnavigate div.disabled {
    cursor: default;
}

.disabled {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

/*LANING PRICEPOINTS*/
label.price {
    cursor: pointer;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-color: inherit;
}