BODY {
    MARGIN: 0px
}

TD {
    FONT-SIZE: 9pt;
    COLOR: #080909;
    FONT-FAMILY: tahoma, verdana, arial
}

A.menu {
    FONT-SIZE: 8pt;
    COLOR: #ae0000;
    FONT-FAMILY: tahoma, verdana, arial;
    TEXT-DECORATION: none
}

A.menu:visited {
    FONT-SIZE: 8pt;
    COLOR: #ae0000;
    FONT-FAMILY: tahoma, verdana, arial;
    TEXT-DECORATION: none
}

A.menu:hover {
    FONT-SIZE: 8pt;
    COLOR: #ae0000;
    FONT-FAMILY: tahoma, verdana, arial;
    TEXT-DECORATION: underline
}

.about {
    FONT-SIZE: 8pt;
    COLOR: #5f5f5f;
    FONT-FAMILY: verdana, arial, tahoma
}

.submit_cl {
    BORDER-RIGHT: #ae0000 0pt solid;
    BORDER-TOP: #cc0000 0pt solid;
    MARGIN-TOP: 0px;
    FONT-SIZE: 10px;
    MARGIN-BOTTOM: 4px;
    BORDER-LEFT: #cc0000 0pt solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #cc0000 0pt solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND: #999999
}