BODY {
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    MARGIN: 0px;
    FONT-STYLE: normal;
    COLOR: #000000;
}

A {
    COLOR: #336699;
    TEXT-DECORATION: underline;
}

.ftxt {
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none;
    COLOR: #222222;
}

.fpla {
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none;
    COLOR: #888888;
}

.nick {
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
    COLOR: #222222;
}

.ftime {
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
    COLOR: #888888;
}

.proce {
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none;
    COLOR: #CC0000;
}

.fsel {
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    WIDTH: 210px;
    COLOR: #222222;
    BACKGROUND-COLOR: #ffffff;
}

.fbut {
    BACKGROUND: #ffffff;
    BORDER-BOTTOM: #DECFA6 1px solid;
    BORDER-LEFT: #DECFA6 1px solid;
    BORDER-RIGHT: #DECFA6 1px solid;
    BORDER-TOP: #DECFA6 1px solid;
    COLOR: #333333;
    CURSOR: hand;
    FONT: 11px Tahoma, Verdana, Arial;
    FONT-WEIGHT: bold;
}

.mbox {
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 10px;
    BORDER-BOTTOM: #767676 1pt solid;
    BORDER-LEFT: #767676 1pt solid;
    BORDER-RIGHT: #767676 1pt solid;
    BORDER-TOP: #767676 1pt solid;
    COLOR: #556680;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}

.ccursor {
    CURSOR: hand;
}

.png {
/ / background-image: none ! important;
    behavior: url('./css/pngfix.htc');
}

.dynam {
    position: absolute;
    z-index: 3;
    left: 26%;
    right: 26%;
    top: 144px;
    width: 48%;
    height: 90px;
}

.hpfull {
    BACKGROUND: url('/img/image/gameplay/fight/hpbg1.gif') repeat-x;
}

.hplos {
    BACKGROUND: url('/img/image/gameplay/fight/hpbg2.gif') repeat-x;
}

.mpfull {
    BACKGROUND: url('/img/image/gameplay/fight/mpbg1.gif') repeat-x;
}

.mplos {
    BACKGROUND: url('/img/image/gameplay/fight/mpbg2.gif') repeat-x;
}

#ShowSmallStats {
    filter: alpha(opacity=35);
    opacity: 0.35;
}

#ShowSmallStats:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

#lines_container {
    position: relative;
}

#leftC {
    position: absolute;
    left: 0px;
    top: 0;
}

#rightC {
    position: absolute;
    right: 0px;
    top: 0;
}

#lines {
    padding: 7px 15px 0 18px;
}

#text {
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 6px;
    font-size: 11px;
}

#tooltip {
    background: #fff;
    border: 1px solid #999;
    color: #333;
    font: 12px Tahoma;
    margin: 0px;
    padding: 3px 5px;
    position: absolute;
    visibility: hidden;
    z-index: 10;
}

.SlotsIMG {
    opacity: 1;
}

.SlotsIMG:hover {
    opacity: 0.7;
}

#slots td {
    text-align: center
}

#slots div {
    margin: 2px
}

#slots .slot {
    border-radius: 4px;
    padding: 3px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    background: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), inset 0 0 10px rgba(255, 255, 255, 0.2);
    box-sizing: border-box
}

#slots .slot img {
    text-align: center;
    vertical-align: middle
}

#slots .over .slot {
    margin-top: -43px
}
