.l1 { background: url('http://img.legendbattles.ru/image/gameplay/labyrinth/l1.gif') no-repeat bottom center; }
.l2 { background: url('http://img.legendbattles.ru/image/gameplay/labyrinth/l2.gif') no-repeat right; }
.l3 { background: url('http://img.legendbattles.ru/image/gameplay/labyrinth/l3.gif') no-repeat left; }
.bbg { background: url('http://img.legendbattles.ru/image/gameplay/labyrinth/bbg.gif') repeat-x; }
.cbg1 { background: url('http://img.legendbattles.ru/image/gameplay/dialogs/cbg1.gif') repeat-x; }
.cbg2 { background: url('http://img.legendbattles.ru/image/gameplay/dialogs/cbg2.gif') repeat-y; }
.cbg3 { background: url('http://img.legendbattles.ru/image/gameplay/dialogs/cbg3.gif') repeat-y; }
.cbg4 { background: url('http://img.legendbattles.ru/image/gameplay/dialogs/cbg4.gif') repeat-x; }
.cbg5 { background: url('http://img.legendbattles.ru/image/gameplay/dialogs/cbg5.gif') repeat-x; }
.tCont { font-family: Verdana, Tahoma, Arial; font-size: 11px;text-align: center; padding: 2px 2px 4px 4px; }

#mainContainer { position: relative; width: 406px; height: 365px; margin: 0 auto; }
#buttonsPlace { position: relative; background: url('http://img.legendbattles.ru/image/gameplay/labyrinth/buttons.jpg') no-repeat center; width: 96px; height: 109px; }
#barBgPlace { z-index: 1; position: absolute; left: 98px; top: 118px; display: none; }
#textPlace { position: absolute; z-index: 2; width: 165px; height: 30px; text-align: center; left: 22px; top: 20px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 11px; color: #4d4d4d; }
#barPlace { position: absolute; z-index: 3; width: 160px; bottom: 10px; left: 25px; }
#barFight { display: none; }
#r1 { position: absolute; left: -10px; top: 10px; z-index: 1; }
#r2 { position: absolute; right: -10px; top: 10px; z-index: 1; }
#b1 { position: absolute; left: 31px; top: 25px; z-index: 4; }
#b2 { position: absolute; left: 31px; top: 72px; z-index: 3; }
#b3 { position: absolute; left: 2px; top: 48px; z-index: 2; }
#b4 { position: absolute; left: 61px; top: 48px; z-index: 1; }