.freetxt
{
       font-family : Verdana, Tahoma,  Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
       font-size : 10px;
       text-decoration : none;
       color : #222222;
}
.nickname{
       font-family : Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
       font-size : 12px;
       text-decoration : none;
       color : #222222;
}