.modal-overlay  
{  
    position: absolute;
    top:0;  
    left:0;  
    height:100%;  
    width:100%;  
    margin:0;  
    padding:0;  
    background:#fff;  
    opacity:.75;  
    filter: alpha(opacity=75);  
    -moz-opacity: 0.75;  
    z-index:100;  
}

.modal-window  
{  
    /*background: #ffffff;*/
    position: absolute;  
    top:50%;  
    left:50%;  
    margin:0;  
    padding:0;  
    z-index:101;  
}

.loading-overlay  
{  
    position: absolute;
    top:0;  
    left:0;  
    height:100%;  
    width:100%;  
    margin:0;  
    padding:0;  
    background:#fff;  
    opacity:.75;  
    filter: alpha(opacity=75);  
    -moz-opacity: 0.75;  
    z-index:200;  
}
 
.loading-bar {
    position: absolute;  
    top:50%; left:50%;  
    margin-left: -64px; 
    margin-top: -7px;
    padding:0;  
    z-index:201;
}

.popup { padding:10px; border:4px solid #d4e6f2; width:500px; background: #ffffff; }
.popup form { margin:0 }
.popup_header {padding-bottom:10px }

a.close-window { width:17px; height:20px; background:url(./../images/window/close.gif); display:block; outline:0}
a.close-window:hover { width:17px; height:20px; background:url(./../images/window/close_on.gif); display:block; outline:0}