body {
	margin: 0px;
	color: #000000;
	padding: 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #f6f9fa;
	font-size: small;
	font-weight: bold;
}
table, TD,TR {
    line-height: 1.7em
}
#cms_content .normal {
	font-weight:normal
}
#cms_content .red {
    color:#CC0000;
    font-weight: bold;
}

.cms_ind td {
	padding-left: 50px
}
#cms_leftmenu IMG { 
	border:0px
}
IMG {
	border: 0px;
}
.cms_mainArea IMG {
	border: 0px;
}
#cms_top {
	color:#FFFFFF;
	font-weight:bold;
	font: bold 11px Tahoma;
	height: 51px;
}
.cms_topvln {
	border-left: #9ABBB4 solid 1px; 
	font-weight: normal; 
	padding-left: 10px; 
	margin-left: 10px
}
#cms_top A:link {color:#FFFFFF;}
#cms_top A:visited {color:#FFFFFF}
#cms_top A:hover {color:#FFFFFF; text-decoration: none}

.cms_systemnote {
  	color: #FF0000;
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: small;
}
.winerror {
	border: #a8cbd5 solid 1px;
	background-color: #FEFEF5;
	padding: 0px 10px 10px 10px;
}
.winmodify {
	border: #CCE3F2 solid 1px;
	background-color: #FFFFFF;
	padding: 10px;
}
.cms_note {
	border: #CCE3F2 solid 1px;
	background-color: #FFFFC0;
	padding: 10px;
}
.cms_systemOK {
	color: #2B759C;
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: small;
	padding: 4px;
}
.cms_textgrey {
	color: #A4A4A4;
	font-weight:normal;
	font-size: 11px;
}
.cms_row {
	font-weight:bold;
}
INPUT.cms_fieldstyle1 {
	BORDER: #a5cad4 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: small;
	color: #000000;
	margin: 0px;
	padding-left:5px;
	padding-right:5px;
	font-family: "Courier New", Courier, mono;
}
INPUT.cms_fieldstyle1, textarea.cms_fieldstyle1 {
	BORDER: #a5cad4 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: small;
	color: #000000;
	margin: 0px;
	padding-left: 5px;
	font-family: "Courier New", Courier, mono;
}
SELECT.cms_fieldstyle1 {
	BORDER: #a5cad4 1px solid;	
	margin: 0px;
	margin-right:5px;
	padding-left: 5px;
	font-family: Tahoma, Courier, mono;
	font-size: small;
	color:#000000
}

.disabled_input {
	background-color: #d4d0c8;
}

.cms_comment1 {
	font-size:11px;
	color: #7391a2;
	font-weight: normal;
}
.cms_header_td {
	border-bottom: #7391a2 solid 2px;
	padding: 0px 0px 5px 0px;
	margin-left: 8px;
}
#cms_header {
	border-bottom: #7391a2 solid 2px;
	padding: 0px 0px 5px 0px;
	margin-left: 8px;
}
#cms_header SPAN.cms_comment1 A:link {
	COLOR: #7391a2; 
	font-weight:bold
}
#cms_header SPAN.cms_comment1 A:hover {
	COLOR: #7391a2; 
	font-weight:bold
}
#cms_header SPAN.cms_comment1 A:visited {
	COLOR: #7391a2; 
	font-weight:bold
}
input.cms_button1{
	height: 25px;
	font-size: small;
	font-weight: bold;
	margin: 0px;
	font-family: Tahoma, Arial, Verdana
}

#cms_mainArea {
	color: #000000;
	padding: 0px;
	margin: 0px;
	font-family: Tahoma;
	font-weight:normal
}
.menu_title {
	COLOR: #5f5f5f;
	font-weight: bold;
}
#cms_mainArea A:link {
	COLOR: #5f5f5f
} 
#cms_mainArea A:hover {	
	COLOR: #5f5f5f; 
	text-decoration:none
}
#cms_mainArea A:visited {
	COLOR: #7391a2;
}
#cms_content .cms_modifypage {
	background-color: #d1eded;
	border: #a8cbd5 solid 1px;
	color:#7391a2;
	padding: 4px;
	margin-top: 5px;
}    
#cms_mainArea P {
	MARGIN: 8px 0px 0px 0px
}
#cms_pageFooter {
	PADDING-RIGHT: 0px;
	BORDER-TOP: #d6e8ee 1px solid;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 5px;
	font-weight: normal;
	color: #A4A4A4;
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
}
.cms_nonCssBrowsers {
	DISPLAY: none
}
#cms_content {
	font-family: Tahoma, Arial, Verdana;
	font-size: small;
	font-weight: normal;
	margin-left: 8px;
}
H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: medium;
	MARGIN: 0px;
	COLOR: #000000;
	padding: 10px 0px 10px 0px;
}
H3 {
	color: #1A6055;
	font-size: larger;
	margin: 0px;
	padding-bottom: 10px;
}
H5 {
	border: #CCE3F2 solid 1px;
	background-color: #FFFFFF;
	padding: 7px;
	width: 400px;
	margin: 0px 0px 0px 100px;
}
TABLE.cms_table1 {
	BORDER-COLLAPSE: collapse;
	background-color: #ffffff;
	border: #a8cbd5 solid 1px;
	font-weight: normal;
	padding-left: 5px;
	margin-top: 5px;
	color: #000000
}
TABLE.cms_table2 {
	BORDER-COLLAPSE: collapse;
	background-color: #ffffff;
	border: #ff0000 dotted 2px;
	font-weight: normal;
	padding-left: 5px;
	margin-top: 5px;
	color: #000000;
}
#cms_content .cms_table1 A:link, #cms_content .cms_table2 A:link {
	COLOR: #3079B6;
	font-weight: normal;
}
#cms_content .cms_table1 A:visited, #cms_content .cms_table2 A:visited {
	COLOR: #3079B6;
	font-weight: normal;
}
#cms_content .cms_table1 A:hover, #cms_content .cms_table2 A:hover {
	COLOR: #3079B6;
	font-weight: normal;
	text-decoration:none
}
TD.cms_cap {
	background-image: url(./../images/tablecap.gif);
	background-repeat:repeat-x;
	border-right: #ffffff solid 1px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	line-height: 23px;
	padding-left: 5px;
	padding-right: 5px
}
TD.cms_cap2 {
	background-repeat:repeat-x;
	border-right: #a8cbd5 solid 1px;
	font-weight:bold;
	text-align: center;
	LINE-HEIGHT: 23px;
	background-color: #CEE2F2;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: #a8cbd5 solid 1px;
	color: #515151; 
}
#cms_content TD.cms_cap2 A:link {
	COLOR: #3079B6;
	font-weight: bold;
}
#cms_content TD.cms_cap2 A:visited {
	COLOR: #3079B6;
	font-weight: bold;
}
#cms_content TD.cms_cap2 A:hover {
	COLOR: #3079B6;
	font-weight: bold;
	text-decoration:none
}
TD.cms_cap3 {
	background-image: url(./../images/tablecap2.gif);
	background-repeat:repeat-x;
	border-right: #ffffff solid 1px;
	color: #ffffff;
	font-weight: bold;
	line-height: 23px;
	padding-left: 5px;
	padding-right: 5px
}
TD.cms_cap4 {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	COLOR: #000000;
	LINE-HEIGHT: 23px;
	BORDER-BOTTOM: #a8cbd5 1px solid;
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #eeeeee;
	TEXT-ALIGN: left;
	font-size: small;
	border-right: #a8cbd5 1px solid;
}
TD.cms_select {
	background-color: #F0F0F0;
	border-right: #a8cbd5 solid 1px;
	font-weight:bold;
	padding-right: 5px;
	line-height: 1.5em;
	color: #515151;
}
TD.cms_middle {
	border-bottom: #a8cbd5 solid 1px;
	border-right: #a8cbd5 solid 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
	vertical-align: top;
}
TD.cms_bottom { 
	border-bottom: #a8cbd5 solid 1px
}
#cms_footerline {
	background-image: url(./../images/cms_footerline.gif);
	background-repeat:repeat-x;
	height: 5px;
	margin: 0px;
	padding: 0px;
}
#cms_formmenu {
	vertical-align: top;
	font-family: Tahoma, Arial, Verdana;
	line-height: 18px;
}
#cms_formmenu H2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: small;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Arial, Verdana;
	background-color: #a5cad4;
	margin: 0px 0px 5px 0px;
	padding: 2px 5px 2px 7px;
}
#cms_formmenu H4 {
	FONT-WEIGHT: bold;
	FONT-SIZE: small;
	COLOR: #7391A2;
	FONT-FAMILY: Tahoma, Arial, Verdana;
	margin: 0px 0px 15px 0px;
	padding: 2px 5px 2px 7px;
}
#cms_formmenu UL {
	FONT-SIZE: small;
	margin: 0px 5px 0px 0px;
}
#cms_formmenu LI {
	LIST-STYLE-TYPE: none;
	line-height: 16px;
	font-weight: normal;
	padding-left: 7px;
} 
#cms_content A:link {
	COLOR: #3079B6;
	font-weight: bold;
}
#cms_content A:visited {
	COLOR: #3079B6;
	font-weight: bold;
}
#cms_content A:hover {
	COLOR: #3079B6;
	font-weight: bold;
	text-decoration:none
}
#cms_preview {
	border: #7391a2 solid 2px;
	background-color: #FFFFFF;
	padding: 0px;
	margin-top: 5px;
}
.cms_star {
	color: #FF0000;
	padding-right: 3px;
}
.cms_liner {
	border-bottom: #d4d4d4 solid 1px
}
#cms_leftmenu {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Arial, Verdana
}
#cms_leftmenu TD {
	line-height: 23px;
}
#cms_leftmenu TD A:link {
	font-family:Tahoma, Arial, Verdana;
	text-decoration: none;
	font-size: 11px;
	color: #5f5f5f;
}
#cms_leftmenu TD A:visited {
    text-decoration: none;
	font-size: 11px;
	color: #5f5f5f;
}
#cms_leftmenu TD A:hover, a:active {
	text-decoration: none;
	color: #0033FF;
}
#cms_leftmenu UL {
	margin: 0px 12px 0px 2px;
	padding: 4px;
	background-color: #FFFFFF;
	text-indent: 0px;
}
#cms_leftmenu LI {
	list-style-position: outside;
	font-weight: normal;	
	list-style-type: none;
	text-indent: 0px;
	height: 20px
}
form {
	margin:0px;
	padding:0px;
}
.cms_textnote1 {
	color: #FF3300;	
	font-size: 11px;
}
.cms_textnote2 {
	color: #339900;	
	font-size: 11px;
}
.cms_editablerea {
	border: #ff3300 dotted 1px;
	padding: 0;
	margin: 0;
	height:auto;
}

/* added by d5 */
.tab_main {
	background:url(./../images/tab_bg.gif);
	background-position:top left;
	background-repeat:repeat-x;
	padding-left:14px;
	padding-right:14px;
	font-family:Arial, Helvetica, sans-serif, Tahoma;
	font-size:small;
	font-weight: 500;
	color:black;
}
a.tab_link:link, a.tab_link:visited, a.tab_link:hover {
	color:black;
	text-decoration:none;
}
TD.cms_middle_x_small {

	border-bottom: #a8cbd5 solid 1px;
	border-right: #a8cbd5 solid 1px;
	padding-right: 5px;
	font-size: x-small;
	vertical-align: top;
}

/* cms icons */
a.icons {
	display:block;
	cursor:pointer;
	BACKGROUND: url(./../images/icons.png) no-repeat;
	HEIGHT: 18px; 
	padding: 0 0 0 22px ;
}
a.icon_add {
	background-position: 0px 2px;
}
a.icon_calendar {
	background-position: 0px -50px;
}
a.icon_checkbox {
	background-position: 0px -100px;
}
a.icon_checkbox:hover {
	background-position: 0px -150px;
}
a.icon_checked {
	background-position: 0px -200px;
}
a.icon_checked:hover {
	background-position: 0px -250px;
}
/* */

/* cms tabs */
span.tabs {
	display: block;
	cursor: pointer;
	height: 18px; 
	background: url(./../images/tabs.png) no-repeat;
	padding: 3px 10px 3px 10px ;
	margin: 0;
/*	float: left;*/
}
span.taboff {
	background-position: 0px -50px;
	text-decoration: underline;
	font-weight: bold;
	COLOR: #7391a2;
}
span.taboffhover {
	background-position: 0px -150px;
	text-decoration: none;
	font-weight: bold;
	COLOR: #7391a2;
}
span.taboffend {
	width: 6px;
	padding: 3px 0px 3px 0px ;
	background-position: -594px 0px;
}
span.tabon {
	background-position: 0px -150px;
	text-decoration: none;
	font-weight: 500;
}

/* */
#cms_filter{
	margin: 0px;
	padding: 7px;
	font-family: Tahoma;
	color: #425662;
	border: solid 1px #7391A2;
	border-top: 0px;
	font-size: 12px;
} 
#filter {
	background: #DEE4E3;
	margin: 15px 0px;
}
#filter H4 {
	FONT-SIZE: small;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma;
	background-image: url(./../images/tablecap2.gif);
	background-repeat:repeat-x;
	margin: 0px;
	padding: 0px 0px 0px 7px;
	border-left: #7391a2 solid 3px;
} 

#cms_navigator{
	font-size:11px;
}
#cms_navigator b{
	color:red;
}


.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('./../images/autocomplete_indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}

.error {color: #ff0000; }
.cms_systemok {color: #007700; }


div#results{
    border: solid 1px #7391A2;
}
p#results{
    border: solid 1px #7391A2;
    width:480px;
}

.cms_ind {
    margin-left: 22px;
}

div#cms_navigator {
    background-color: #E5E5E5;
    border: white solid 1px;
    color:#000000;
    left: 0;
    top: 0px;
    z-index: 5;
    padding: 4px;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
}
div#results div#cms_navigator a{
    font-weight: bold;
    color:#2C6978;
    text-decoration:none;
    padding: 0px 3px;
} 
div#results div#cms_navigator a:hover{
    text-decoration:none;
    border-bottom: dotted 1px #425762;
    background: white;
    line-height: 12px;
}

/* Labyrinth */
.lab_instrument {width: 75px; height: 75px; font-size: 10px;}
.lab_message {color: blue; height: 20px; text-align: center;}
.lab_properties {border: 1px solid blue; padding: 5px; margin-left: 10px; }

.status_ok {border: 1px solid black; padding: 5px; background: #008800; color: white; width: 235px;}
.status_notice {border: 1px solid black; padding: 5px; background: #FF8811; color: black; width: 235px;}
.status_none {border: 1px solid black; padding: 5px; background: #FFCCCC; color: black; width: 235px;}
.status_good {border: 1px solid black; padding: 5px; background: #CCFFCC; color: black; width: 235px;}