html,body {
height:100%;
margin:0;
}

#center {
top: 50%;
left: 50%;
width: 800px;
height: 600px;
position: absolute;
margin-top: -300px;
margin-left: -400px;
}

.button {
color:#cfb08d;
text-align:center;
background-color:#000;
width:140px;
border-color:#cfb08d;
}

.enter {
color:#cfb08d;
text-align:center;
background-color:#000;
width:100px;
border-color:#cfb08d;
}

a,a:visited,a:link,a:hover {
font-weight:bold;
font-size:12px;
color:#cfb08d;
font-famaly:verdana;
text-decoration:none;
}
#darker {
	width:100%;
	height:100%;
	position:absolute;
	background:url('http://img.legendbattles.ru/image/index/dark.png') repeat;
}
#rightCounter { position: absolute; right: 3px; bottom: 3px; }
#leftCounter { position: absolute; left: 3px; bottom: 3px; }